{%extends 'gobasic/base.html' %}
{% block content %}
<br>
<br>
<h2>Customer List - {{object_list.count}}</h2>
<p><a href="{% url 'customer-create' %} "><button class="btn">Add Customer</button></a></p>
<ol>
    {% for c in object_list %}
        <li><strong>🆔:</strong> {{ c.name }} <strong>📞:</strong> {{c.mobile}} <strong>Pax:</strong> {{c.pax}} <strong>Source:</strong> {{c.source}} <a href="{%url 'customer-update' c.pk%}"><button class="btn">🖋️</button></a> </li>
        <br> 
    {% empty %}
        <p>No Entries Detected Yet !</p>    
    {% endfor %}
</ol>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    
</div>


{% endblock %}