{%extends 'gobasic/base.html' %}
{% block content %}
<br>
<br>
<h2>Hotel List - {{object_list.count}}</h2>
<p><a href="{% url 'hotel-create' %} "><button type="button" class="btn btn-info">Add Hotels</button></a> 
    <a href="{% url 'index' %}"> <button type="button" class="btn btn-info">Home</button>
</a></p>
<ol>
    {% for h in object_list %}
        <li><strong>🆔 </strong> {{ h.hotel_name }} <strong>📍 </strong> {{h.location}} <strong>⭐️ </strong> {{h.customer_rating}} <strong>Category:</strong> {{h.room_categories}} <strong>CP Cost:</strong> {{h.net_cp}} <a href="{%url 'hotel-edit' h.pk%}"><button class="btn">🖋️</button></a> </li> <br> 
    {% empty %}
        <p>No Entries Detected Yet !</p>
    {% endfor %}
</ol>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}