{% extends 'gobasic/base.html' %}
{% block content %}
{% load static %}
	<body>
		

		<div id="wrapper">
			
			<div id="header" class="content-block header-wrapper">
				<div class="header-wrapper-inner">
					<section class="top clearfix">
						<div class="pull-left">
							<h1><a class="logo" href="{% url 'index' %}">G<i class="fa fa-cog fa-spin fa-1x fa-fw"></i>CRM</a></h1>
						</div>
						<div class="pull-right">
							<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
						</div>
					</section>
					<section class="center">
						<div class="slogan">
							G<i class="fa fa-cog fa-spin fa-1x fa-fw"></i>CRM 
						</div>
						<div class="secondary-slogan">
							Sales is Key
						</div>
					</section>
					<section class="bottom">
						<a class="nav-link" href="#middlesection">
							<img src="{% static 'gobasic/images/arrow_down.png' %}">
						</a>
					</section>
				</div>
			</div><!-- header -->

			
			<div class="content-block">
				<div class="container">
					<header class="block-heading cleafix">
						<h1 align="center">CRM Tools</h1>
						<p align="center">Tools ▶ Sales</p>
					</header>
					<a name="middlesection"></a>
					<section class="block-body" >
						<div class="row" >
							<div class="col-sm-4">
								<a href="{% url 'customer-create' %}">
									<button type="button" class="btn btn-primary">Create Customer</button>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'hotel-create' %}">
									<button type="button" class="btn btn-primary">Create Hotel</button>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'activity-create' %}">
									<button type="button" class="btn btn-primary">Create Activity</button>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<a href="{% url 'trip-create' %}">
									<button type="button" class="btn btn-primary">Create Trip</button>
								</a>
							</div>

							<div class="col-sm-4">
								<a href="{% url 'hotels-list' %}">
									<button type="button" class="btn btn-info">Hotels</button>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'activitys-list' %}">
									<button type="button" class="btn btn-info">Activities</button>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'customer-list' %}">
									<button type="button" class="btn btn-info">Customers</button>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'trip-lists' %}">
									<button type="button" class="btn btn-info">Trips</button>
								</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #portfolio -->

			<div class="content-block parallax" id="services">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Our Goals</h1>
						
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<i class="fa fa-send-o"></i>
									<h2>Customer Service First</h2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<i class="fa fa-heart-o"></i>
									<h2>Accurate Plans</h2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<i class="fa fa-camera-retro"></i>
									<h2>Best Execution</h2>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #services -->
	

			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Copyright ASTRA TECHZ 2022</div>
						<div class="col-xs-6 text-right">Made with ❤️ by <a href="https://astratechz.com/" target="_blank">AstraTechZ</a></div>
					</div>
				</div>
			</div><!-- #footer -->


		</div><!--/#wrapper-->

	</body>

{% endblock %}