<!DOCTYPE html>
{% load static %}
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<title>CRM-Go</title>

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic"/>
		
		<!-- css -->
		<link rel="stylesheet" href="{% static 'gobasic/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'gobasic/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'gobasic/css/style.css' %}" media="screen"/>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="static/js/html5shiv.js"></script>
			<script src="static/js/respond.js"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	<script src="static/js/selectivizr.js"></script>
	    <![endif]-->
	</head>
	
	<body>
		<div id="drawer-right">
			<div class="cross text-right">
				<a class="toggleDrawer" href=""><i class="fa fa-times-circle fa-2x"></i></a>
			</div>
			<h2>Navigate</h2>
			<nav>
					<li>
						<a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
					</li>
					<li>
						<a href="{% url 'customer-create' %}"><i class="fa fa-bookmark"></i> Customer</a>
					</li>
					<li>
  						<a href="{% url 'hotel-create' %}"><i class="fa fa-tasks"></i> Hotel</a>
					</li>
					<li>
						<a href="{% url 'activity-create' %}"><i class="fa fa-wordpress"></i> Activity</a>
					</li>
					<li>
						<a href="{% url 'trip-create' %}"><i class="fa fa-heart"></i> Trip</a>
					</li>
				
			</nav>
			<div class="social">
				<h2>Stay Connected</h2>
				<ul>
					<li><a href="https://facebook.com/goandamans"><i class="fa fa-facebook-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div><!-- #drawer-right -->

		<div id="wrapper">
			
			<div id="header" class="content-block header-wrapper">
				<div class="header-wrapper-inner">
					<section class="top clearfix">
						<div class="pull-left">
							<h1><a class="logo" href="{% url 'index' %}">Go-CRM</a></h1>
						</div>
						<div class="pull-right">
							<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
						</div>
					</section>
					<section class="center">
						<div class="slogan">
							Sales is Key
						</div>
						<div class="secondary-slogan">
							by ASTRA TECHZ
						</div>
					</section>
					<section class="bottom">
						<a id="scrollToContent" href="#">
							<img src="{% static 'gobasic/images/arrow_down.png' %}">
						</a>
					</section>
				</div>
			</div><!-- header -->

			
			<div class="content-block" id="portfolio">
				<div class="container">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">View All</a>
						<h1>Team Tools</h1>
						<p>Use Tools, Drive Sales</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4">
								<a href="{% url 'customer-create' %}" class="recent-work" style="background-image:url(static/gobasic/images/rain_1-320x240.jpg)">
									<span class="btn btn-o-white">Create Customer</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'hotel-create' %}" class="recent-work" style="background-image:url(static/gobasic/images/min_icons_thumb1-320x240.jpg)">
									<span class="btn btn-o-white">Create Hotel</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'activity-create' %}" class="recent-work" style="background-image:url(static/gobasic/images/flat_icons_thumb.jpg)">
									<span class="btn btn-o-white">Create Activity</span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<a href="{% url 'trip-create' %}" class="recent-work" style="background-image:url(static/gobasic/images/wood-320x240.jpg)">
									<span class="btn btn-o-white">Create Trip</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'trip-lists' %}" class="recent-work" style="background-image:url(static/gobasic/images/bike-320x240.jpg)">
									<span class="btn btn-o-white">Trip List</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'hotel-list' %}" class="recent-work" style="background-image:url(static/gobasic/images/six_1-320x240.jpg)">
									<span class="btn btn-o-white">Hotel List</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'activity-list' %}" class="recent-work" style="background-image:url(static/gobasic/images/six_1-320x240.jpg)">
									<span class="btn btn-o-white">Activity List</span>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="{% url 'customer-list' %}" class="recent-work" style="background-image:url(static/gobasic/images/six_1-320x240.jpg)">
									<span class="btn btn-o-white">Customer List</span>
								</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #portfolio -->

			<div class="content-block parallax" id="services">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Our Services</h1>
						<p>A little about what we do</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<i class="fa fa-send-o"></i>
									<h2>Customer Service First</h2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<i class="fa fa-heart-o"></i>
									<h2>Accurate Plans</h2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<i class="fa fa-camera-retro"></i>
									<h2>Best Execution</h2>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #services -->
	

			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Copyright ASTRA TECHZ 2022</div>
						<div class="col-xs-6 text-right">Tech by <a href="https://astratechz.com/" target="_blank">AstraTechZ</a></div>
					</div>
				</div>
			</div><!-- #footer -->


		</div><!--/#wrapper-->




		<script src="{% static 'gobasic/js/jquery-2.1.3.min.js' %}"></script>
		<script src="{% static 'static/js/jquery-migrate-1.2.1.min.js' %}"></script>
		<script src="{% static 'gobasic/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'gobasic/js/jquery.actual.min.js' %}"></script>
		<script src="{% static 'gobasic/js/jquery.scrollTo.min.js' %}"></script>
		<script src="{% static 'gobasic/js/script.js' %}"></script>

	</body>
</html>
